#map{
    height: 800px;
    width: 1200px;
}

.leaflet-control-layers{
    display: none !important;  /*hides the ugly layer controls*/
}

.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    background-color: #ff9900 !important;
    /*
    background-image: url(icons/wheat.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    */
}

.leaflet-draw-toolbar .leaflet-draw-draw-circle{
    background-color: #3399ff !important;
}

.leaflet-draw-toolbar .leaflet-draw-draw-rectangle{
    background-color: #33A033 !important;
}
